<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <header>
        <h1><b>♻ Smart Waste Management System</b></h1>
        
    </header>
    <div class="container">

    <div class="camera-box">

        <video id="video" autoplay playsinline></video>

        <img id="photo">

    </div>
    <canvas id="canvas" style="display:none;"></canvas>

    <div class="button-group">

        <button onclick="startCamera()">
            📷 Start Camera
        </button>

        <button onclick="captureImage()">
            📸 Capture Image
        </button>
        </div>
        <br>
        <div class="action-buttons">
            <a href="/authority"><button>
            🚨 Inform Authority
        </button>
        </a>
        
        
        <div id="suggestion">
            <a href="/suggestion"><button onclick="Suggest">Decomposition Methods</button></a>
        </div>
       
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>